<!-- HOME -->
<section id="home">
  <div class="home-section">
    <div class="hero-section">
      <div class="hero-content">
        <h1>Build Better Habits, Build a Better You!</h1>
        <p>
          Track your progress, join a supportive community, grow with the
          community, build a better you! The You of Tommorow!
        </p>
      </div>
    </div>

    <!-- Features -->
    <div class="features-section container">
      <h2>Why Choose HabitTracker?</h2>
      <div class="features-grid">
        <div class="feature-item card">
          <div class="feature-icon">🎯</div>
          <h3>Smart Habit Tracking</h3>
          <p>
            Easily track daily habits with interface and progress visualization.
          </p>
        </div>
        <div class="feature-item card">
          <div class="feature-icon">👥</div>
          <h3>Community Support</h3>
          <p>
            Share your progress and get motivation from our supportive
            community.
          </p>
        </div>
        <div class="feature-item card">
          <div class="feature-icon">📈</div>
          <h3>Smart Growth</h3>
          <p>
            Grow your habbits into a life style, grow them into a better you!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
